body {
  font-family: "poppins", sans-serif;
  width: 100%;
  margin: 0px;
}

li {
  margin: 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

hr {
  width: 78%;
  color: #eeeeee;
  border: 1px solid #333333;
  margin-bottom: -20px;
}

.hr1 {
  width: 78%;
  color: #eeeeee;
  border: 1px solid #eeeeee;
  margin-bottom: -20px;
}

.hr2 {
  width: 78%;
  color: #eeeeee;
  border: 1px solid #eeeeee;
  margin-bottom: -20px;
  position: relative;
  top: 20px;
}

/* STYLES DU GABARIT */

header {
  background-image: url("http://www.gloveswork.in/cabe/images/bg-pattern-2.jpg");
  display: flex;
  margin: 30px;
  justify-content: center;
  align-items: center;
  height: 600px;
  padding-bottom: 60px;
}

.accueil {
  display: flex;
  margin-right: 100px;
}

.vertical {
  width: 8px;
}

.ulNav {
  position: relative;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-bars {
  display: none;
}

.ulNav1 {
  position: relative;
  top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 90px;
}

.navavatar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 150px;
}

.menuResponsive {
  display: none;
}

.prenom {
  position: relative;
  left: 5px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0px;
}

.prenom a:hover {
  color: black;
}

.fa-search {
  position: relative;
  left: 200px;
  content: #030303;
  font-size: 19px;
  font-weight: lighter;
}

.blockDescription {
  margin-left: 60px;
}

.titre {
  margin-left: 100px;
  font-weight: bold;
  font-size: 70px;
  line-height: 1.2;
  width: 200px;
}

.description {
  font-size: 32px;
  font-weight: 300;
  margin-left: 102px;
  margin-top: -30px;
  width: 500px;
}

.avatar {
  position: relative;
  top: 25px;
  left: 85px;
  width: 380px;
  border-radius: 50%;
  border: 9px solid white;
}

.icones {
  margin-left: 100px;
  max-width: 65%;
}

.nav {
  position: relative;
  justify-content: center;
  font-size: 16px;
  margin-top: -30px;
  margin-bottom: 40px;
  letter-spacing: 0.7px;
}

.nav1 {
  position: relative;
  justify-content: center;
  font-size: 15px;
  margin-top: -40px;
  margin-bottom: 40px;
  letter-spacing: 0.7px;
}

.avatar3 {
  position: relative;
  width: 50px;
  border-radius: 50%;
  border: 9px solid white;
}

.navigationHome {
  list-style: none;
}

.navigationHome1 {
  list-style: none;
}

.logo2 {
  position: absolute;
  max-width: 70px;
  top: 15px;
  left: 20%;
}

/* DÉFINITION DE LA DISPOSITION DES ARTICLES */

.enteteArticle {
  display: flex;
  justify-content: center;
}

.articleSuivant {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
}

.encartArticle1 {
  font-weight: bold;
  line-height: 1;
  display: flex;
  align-items: center;
}

.encartArticle2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 15px;
  right: 200px;
}

.symboleNumero {
  position: relative;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  top: 9px;
  right: 20px;
}

.numeroArticle {
  position: relative;
  bottom: 8px;
  font-size: 70px;
  font-weight: bold;
  color: #cccccc;
}

.titreArticle {
  position: relative;
  font-size: 36px;
  font-weight: bold;
  color: #333333;
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin-left: 40%;
  top: 52px;
  line-height: 1.3;
}

.auteurArticle {
  margin-top: 30px;
  margin-left: 125px;
}

.imageFondArticle {
  position: relative;
  width: 920px;
  height: 371px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.extrait {
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

.extraitArticle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 16px;
  width: 580px;
  padding: 40px;
  color: black;
  left: 50px;
}

.extrait p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 16px;
  width: 580px;
  padding: 40px;
  color: black;
  left: 40px;
}

.piedArticle {
  position: relative;
  bottom: 10px;
  display: flex;
  justify-content: center;
}

.share {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  bottom: 35px;
  left: 20px;
}

.lirePlus {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  margin-right: 200px;
  bottom: 35px;
  right: 7px;
}

.barre {
  position: relative;
  right: 15px;
  width: 45px;
  height: 10px;
  display: flex;
  bottom: 32px;
}

.article {
  margin-top: 0px;
  position: relative;
  margin-bottom: -35px;
  width: 100%;
}

.fa-heart {
  color: #555555;
  font-size: 20px;
  position: relative;
  left: 60px;
  bottom: 17px;
}

.fa-facebook-square {
  color: #555555;
  font-size: 20px;
  position: relative;
  left: 40px;
  bottom: 17px;
}

.fa-linkedin {
  color: #555555;
  font-size: 20px;
  position: relative;
  left: 80px;
  bottom: 17px;
}

.fa-twitter-square {
  color: #555555;
  font-size: 20px;
  position: relative;
  left: 100px;
  bottom: 17px;
}

/* DÉFINITION DU FOOTER */

.footer {
  margin-top: 90px;
  background-color: #f4f8fb;
  height: 300px;
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: 15%;
  font-size: 14px;
}

.menuFooter1 {
  padding-top: 20px;
  font-size: 20px;
  padding: 50px;
}

.menuFooter2 {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.globalFooter {
  position: relative;
}

.menuFooter3 {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.piedDePage {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #f4f8fb;
  width: 100%;
  margin-bottom: -50px;
}

.piedDePage2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f4f8fb;
  width: 100%;
}

.piedDePage3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f4f8fb;
  width: 100%;
  margin-top: 70px;
}

.listPied {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  width: 100%;
}

.copyright {
  font-size: 14px;
  letter-spacing: 0.4px;
  position: relative;
  bottom: 20px;
}

.chad {
  font-size: 14px;
  letter-spacing: 0.4px;
}

.iconesbas {
  width: 280px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.haut {
  position: relative;
  bottom: 20px;
  font-weight: 600;
  margin-top: 40px;
  font-size: 14px;
  color: #111111;
  margin-bottom: 30px;
}

.pied1 {
  display: flex;
  padding-bottom: -50px;
}

.pied2 {
  display: flex;
  position: relative;
  margin-right: 500px;
  padding-bottom: -50px;
  justify-content: end;
  align-items: center;
  width: 40%;
}

.liFooter {
  display: flex;
  list-style: none;
}

.liFooter0 {
  list-style: none;
  letter-spacing: 0.4px;
}

.nomFooter {
  font-size: 35px;
  position: relative;
}

.ca {
  position: relative;
  left: 500px;
  font-size: 14px;
  bottom: 50px;
}

/* DESIGN DE LA PARTIE À PROPOS */
.biographie {
  position: relative;
  margin-bottom: 300px;
}

.bioTitre {
  position: relative;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin: auto;
  font-size: 40px;
  top: 50px;
}

.fondabout1 {
  position: relative;
  display: flex;
  justify-content: center;
  margin: auto;
  top: 100px;
}

.titreCourt {
  font-size: 13px;
  color: #999999;
  letter-spacing: 5px;
  margin: auto;
  display: flex;
  position: relative;
  justify-content: center;
  top: 150px;
  font-weight: bold;
}

.titreBio {
  font-size: 40px;
  margin: auto;
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
  top: 180px;
}

.textGlobal {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin: auto;
  width: 800px;
  line-height: 2;
}

.partie1 {
  position: relative;
  width: 330px;
  margin: auto;
  top: 210px;
  left: 10px;
}

.partie2 {
  position: relative;

  width: 330px;
  margin: auto;
  top: 210px;
  right: 10px;
}

.finabout {
  font-size: 13px;
  letter-spacing: 5px;
  margin: auto;
  display: flex;
  position: relative;
  justify-content: center;
  top: 240px;
}

/* DESIGN DE LA PAGE ERREUR */

.erreur {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-image: url("http://www.gloveswork.in/cabe/images/bg-pattern-2.jpg");
  width: 70%;
  height: 400px;
  padding-bottom: 60px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.texterreur {
  position: relative;
  bottom: 190px;
  font-size: 22px;
}

.oups {
  font-size: 180px;
  letter-spacing: 5px;
  color: #999999;
  position: relative;
  top: 20px;
}

.backhome {
  position: relative;
  padding: 20px;
  border: 2px solid black;
  bottom: 180px;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
}

/* STYLE D'UNE PAGE BILLET */

.imageblog {
  width: 1110px;
  height: 527px;
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 20px;
}

.titreblog {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  position: relative;
  bottom: 40px;
  right: 15px;
  margin: auto;
  max-width: 700px;
  line-height: 53px;
}

.enteteArticle2 {
  margin-top: 90px;
}

.contenuBillet {
  position: relative;
  margin: auto;
  width: 750px;
  line-height: 2;
  margin-top: 60px;
  color: #111111;
  text-align: left !important;
  font-size: 16px !important;
  bottom: 40px;
}

.commentaires {
  position: relative;
  right: 310px;
  font-size: 18px;
  columns: #333333;
  bottom: 40px;
}

.enteteCommentaire {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 150px;
}

.listeCommentaires {
  position: relative;
  margin: auto;
  width: 750px;
  bottom: 165px;
  margin-bottom: -100px;
}

.avatar2 {
  width: 70px;
  display: flex;
  position: relative;
  bottom: 20px;
}

.informationsArticle {
  display: flex;
  justify-content: center;
  align-items: center;
}

time {
  position: relative;
}

.contenuMessage {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 100px;
  bottom: 90px;
}

.auteur {
  position: relative;
  font-weight: bold;
  bottom: 15px;
  font-size: 16px;
  margin-bottom: 60px;
}

.invite {
  position: relative;
  bottom: 69px;
  font-style: italic;
  font-size: 14px;
  color: #111111;
}

.contenu {
  position: relative;
  bottom: 90px;
  font-size: 16px;
  line-height: 32px;
  color: #111111;
  width: 650px;
}

.signaler {
  font-weight: 600;
  position: relative;
  bottom: 90px;
  color: #333333;
  text-decoration: underline;
  font-size: 14px;
}

.formulairecommentaire1 {
  width: 700px;
  border: 1px solid #e2e2e2f1;
  padding: 10px;
  padding-left: 28px;
  font-family: "poppins";
  font-size: 16px;
  color: #999999;
  height: 180px;
  margin-top: 20px;
}

.formulairecommentaire2 {
  position: relative;
  width: 700px;
  border: 1px solid #e2e2e2f1;
  padding: 10px;
  padding-left: 28px;
  font-family: "poppins";
  font-size: 16px;
  color: #999999;
  height: 60px;
  margin-top: 5px;
}

.formulairecommentaire3 {
  position: relative;
  width: 700px;
  border: 1px solid #e2e2e2f1;
  padding: 10px;
  padding-left: 28px;
  font-family: "poppins";
  font-size: 16px;
  color: #999999;
  height: 60px;
  z-index: 40;
  margin-top: 15px;
}

.bloccommentaire {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
}

.commenter {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  max-width: 750px;
  bottom: 170px;
}

.label1 {
  position: relative;
  background-color: white;
  padding: 3px;
  top: 33px;
  left: 26px;
  font-weight: bold;
  font-size: 16px;
  color: #555555;
}

.label2 {
  position: relative;
  background-color: white;
  padding: 10px;
  top: 17px;
  left: 20px;
  font-weight: bold;
  font-size: 16px;
  color: #555555;
  z-index: 10;
  height: 10px;
}

.label3 {
  position: relative;
  background-color: white;
  padding: 10px;
  top: 27px;
  left: 20px;
  font-weight: bold;
  font-size: 16px;
  color: #555555;
  z-index: 50;
  width: 70px;
  height: 10px;
}

.iconesArticle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 110px;
  list-style: none;
  bottom: 30px;
}

.iconesArticles {
  display: flex;
  position: relative;
  list-style: none;
  left: 20px;
}

.contenuBillets {
  font-family: "poppins" !important;
}

.debutArticle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #999999;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  right: 245px;
  bottom: 20px;
}

.auteurArticles {
  list-style: none;
}

.courtdescriptif {
  font-size: 16px;
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 262px;
  font-weight: 600;
  bottom: 47px;
}

.partager {
  font-weight: bold;
  list-style: none;
  font-size: 18px;
  color: #333333;
}

.fb {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #3b5998;
}

.twit {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #1da1f2;
}

.link {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #0077b5;
}

.insta {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #fb3958;
}

.banniere {
  width: 700px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banniere2 {
  width: 700px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 15px;
}

.coupcoeur {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  top: 10px;
}

.articlesuivant {
  position: relative;
  font-size: 32px;
  columns: #111111;
  bottom: 20px;
}

.articleCoupCoeur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  top: 15px;
}

.laissercommentaire {
  font-size: 26px;
  color: #111111;
  position: relative;
  right: 20px;
}

.banniere3 {
  width: 700px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  left: 00px;
  bottom: 15px;
}

.boutonCom {
  position: relative;
  background-color: white;
  font-size: 14px;
  border: 2px solid #555555;
  padding: 18px 45px 18px 45px;
  font-weight: bolder;
  letter-spacing: 0.7px;
  top: 40px;
}

/* STYLES POUR LA PAGE D'ADMINISTRATION */
.boutonajout {
  position: relative;
  background-color: white;
  font-size: 14px;
  border: 2px solid #555555;
  padding: 18px 45px 18px 45px;
  font-weight: bolder;
  letter-spacing: 0.7px;
  top: 40px;
}

.ensembleCommentaires {
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin-bottom: 150px;
}

.titre1Dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.titre2Dashboard {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

td {
  border: 1px solid black;
  padding: 15px;
}

.dashboard {
  margin-top: 150px;
}

.ensembleBillets {
  position: relative;
  margin: auto;
  display: flex;
  width: 100%;
  max-width: 800px;


  justify-content: center;
}

.boutonDashboard {
  background-color: white;
  font-size: 14px;
  border: 2px solid #555555;
  position: relative;
  padding: 18px 35px 18px 35px;
  font-weight: bolder;
  margin-top: 40px;
  letter-spacing: 0.7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 200px;
}

/* STYLES POUR LA PAGE D'AJOUT D'UN BILLET */

.ajoutbillet {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  left: 400px;
  font-family: "poppins";
}

#mytextarea {
  width: 900px !important;
}

.titreajout {
  width: 700px;
  padding: 10px;
}

.imageajout {
  width: 700px;
  padding: 10px;
}

.ajoutadmin {
  margin-top: 120px;
  margin-bottom: 100px;
}

.boutonAjout {
  background-color: white;
  font-size: 14px;
  border: 2px solid #555555;

  padding: 18px 35px 18px 35px;
  font-weight: bolder;
  margin-top: 40px;
  letter-spacing: 0.7px;
}

/* STYLES DE LA PAGE CONNEXION  */

.inputCo {
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
  outline: none;
  border-bottom: 2px solid #adadad;
  border-top: none;
  border-left: none;
  border-right: none;
  position: relative;
  top: 30px;
}

.formConnexion {
  position: relative;
  margin: auto;
  background-color: white;
  padding: 30px 120px 120px 120px;
  border-radius: 10px;
  width: 45%;
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.retour {
  position: relative;
  margin: auto;
  display: block;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  width: 100%;
  top: 80px;
}

.bouton2 {
  padding: 13px 65px 13px 65px;
  border: none;
  letter-spacing: 0.7px;
  top: 60px;
  cursor: pointer;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  background-color: #ab3fff;
  border-radius: 40px;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fondco {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.titleConnexion {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  position: relative;
  top: 15px;
}

/**********************************************************************************************
NOTE: RESPONSIVE DU DESIGN
/***********************************************************************************************/

@media all and (max-width: 1200px) {
  .contenu {
    position: relative;
    bottom: 90px;
    font-size: 16px;
    line-height: 32px;
    color: #111111;
    width: 500px;
  }

  .listeCommentaires {
    width: 670px;
  }

  .textGlobal {
    width: 690px;
  }

  .partie1 {
    width: 280px;
  }

  .partie2 {
    width: 280px;
  }

  .prenom {
    font-size: 12px;
  }

  .fondabout1 {
    width: 610px;
  }

  .fa-search {
    left: 180px;
    font-weight: lighter;
  }

  .navavatar {
    right: 65px;
  }

  .contenuBillet {
    width: 620px;
  }

  .imageFondArticle {
    width: 770px;
    height: 310px;
  }

  .imageblog {
    width: 930px;
    height: 441px;
  }

  .extraitArticle {
    width: 450px;
  }


  .extrait p {
    width: 450px;
    left: 60px;
  }

  .titreArticle {
    width: 500px;
    margin-left: 50%;
  }

  .auteurArticle {
    margin-left: 260px;
  }

  .barre {
    left: 71px;
  }

  .lirePlus {
    left: 79px;
  }

  .share {
    left: -10px;
  }

  .fa-heart {
    left: 30px;
  }

  .fa-facebook-square {
    left: 10px;
  }

  .fa-linkedin {
    left: 50px;
  }

  .fa-twitter-square {
    left: 70px;
  }

  .debutArticle {
    right: 190px;
  }

  .titreblog {
    left: 40px;
  }

  .courtdescriptif {
    right: 208px;
  }

  .iconesArticle {
    right: 45px;
  }

  .laissercommentaire {
    left: 30px;
    top: 10px;
  }

  .formulairecommentaire1 {
    width: 600px;
  }

  .formulairecommentaire2 {
    width: 600px;
  }

  .formulairecommentaire3 {
    width: 600px;
  }

  .label1 {
    left: 26px;
    z-index: 10;
  }

  .label2 {
    left: 20px;
  }

  .label3 {
    left: 20px;
  }
}

@media all and (max-width: 1100px) {
  header {
    height: 500px;
    padding-bottom: 60px;
  }

  .blockDescription {
    margin-left: 60px;
  }

  .titre {
    font-size: 50px;
  }

  .description {
    width: 390px;
  }

  .avatar {
    top: 25px;
    left: 115px;
    width: 300px;
  }

  .icones {
    margin-left: 100px;
    max-width: 65%;
  }
}

@media all and (max-width: 1025px) {
  .extraitArticle {
    width: 500px;
    left: 20px;
  }

  .extrait p {
    width: 500px;
    left: 20px;
  }

  .titreArticle {
    width: 600px;
    margin-left: 42%;
  }

  .auteurArticle {
    margin-left: 165px;
  }

  .barre {
    left: -2px;
  }

  .lirePlus {
    left: 8px;
  }

  .share {
    left: -30px;
    font-size: 15px;
  }

  .fa-heart {
    left: 10px;
  }

  .fa-facebook-square {
    left: -10px;
  }

  .fa-linkedin {
    left: 30px;
  }

  .fa-twitter-square {
    left: 50px;
  }

  .symboleNumero {
    right: 43px;
    font-size: 14px;
    bottom: 40px;
  }

  .numeroArticle {
    right: 25px;
    font-size: 60px;
  }

  .piedArticle {
    position: relative;
    bottom: 10px;
  }
}

@media all and (max-width: 993px) {



  .titleConnexion {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: relative;
    top: 15px;
  }

  .ulNav1 {
    position: relative;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
  }

  .navavatar {
    display: none;
  }

  .fa-search {
    display: none !important;
  }



  .formulairecommentaire1 {
    width: 680px;
  }

  .formulairecommentaire2 {
    width: 680px;
  }

  .formulairecommentaire3 {
    width: 680px;
  }

  .contenu {
    width: 610px;
  }

  .listeCommentaires {
    width: 710px;
  }

  .fondabout1 {
    width: 690px;
  }

  .textGlobal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin: auto;
    width: 100%;
    line-height: 2;
  }

  .partie1 {
    width: 75%;
    margin: auto;
    top: 210px;
    margin: auto;
    left: 10px;
    right: 0px;
  }

  .partie2 {
    width: 75%;
    margin: auto;
    top: 210px;
    left: 10px;
    right: 0px;
  }

  .menuResponsive {
    display: flex;
  }

  .prenom {
    font-size: 14px;
  }



  .fa-bars {
    position: relative !important;
    left: 300px;
    content: #333333;
    font-size: 26px;
  }

  .navavatar {
    right: 180px;
  }

  .symboleNumero {
    right: 43px;
    font-size: 12px;
    bottom: 40px;
  }

  .numeroArticle {
    right: 25px;
    font-size: 45px;
  }

  .titreArticle {
    width: 400px;
    margin-left: 47%;
    font-size: 24px;
  }

  .imageFondArticle {
    width: 570px;
    height: 230px;
  }

  .auteurArticle {
    margin-left: 200px;
    margin-top: 40px;
    font-size: 14px;
  }

  .imageblog {
    width: 690px;
    height: 327px;
  }

  .debutArticle {
    right: 227px;
  }

  .titreblog {
    left: 5px;
    font-size: 34px;
  }

  .courtdescriptif {
    right: 254px;
    font-size: 14px;
  }

  .contenuBillet {
    width: 690px;
  }

  .iconesArticle {
    right: 80px;
  }

  .laissercommentaire {
    left: -10px;
  }
}

@media all and (max-width: 860px) {
  .accueil {
    display: flex;
    margin-right: 0px;
    flex-wrap: wrap;
  }

  header {
    height: 500px;
    padding-bottom: 60px;
  }

  .blockDescription {
    margin: auto;
  }

  .titre {
    font-size: 42px;
    width: 390px;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .description {
    width: 390px;
    font-size: 20px;
    margin: auto;
    text-align: center;
  }

  .avatardiv {
    margin: auto;
  }

  .avatar {
    top: 25px;
    left: 0px;
    width: 280px;
    margin-bottom: 37px;
    margin-top: 20px;
  }

  .icones {
    margin-left: 100px;
    max-width: 65%;
    margin-top: 30px;
  }
}

@media all and (max-width: 770px) {

  .commentaires {
    right: 190px;
  }

  .contenu {
    position: relative;
    bottom: 90px;
    font-size: 15px;
    line-height: 32px;
    color: #111111;
    width: 390px;
  }

  .listeCommentaires {
    width: 500px;

  }


  .fondabout1 {
    width: 510px;
  }

  .fa-bars {
    left: 210px;
    font-size: 26px;
  }

  .navavatar {
    right: 80px;
  }

  .imageFondArticle {
    width: 510px;
    height: 205px;
  }

  .imageblog {
    width: 510px;
    height: 242px;
  }

  .debutArticle {
    right: 137px;
  }

  .titreblog {
    left: -5px;
    font-size: 26px;
    width: 500px;
    line-height: 40px;
  }

  .courtdescriptif {
    right: 165px;
  }

  .contenuBillet {
    width: 510px;
  }

  .iconesArticle {
    right: -10px;
    bottom: 70px;
  }

  .iconesArticles {
    display: flex;
    flex-wrap: wrap;
    left: -127px;
    top: 80px;
    padding-bottom: 50px;
  }

  .laissercommentaire {
    left: 90px;
    top: 10px;
  }

  .bloccommentaire {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
  }

  .boutonComs {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    box-sizing: border-box;
  }

  .boutonCom {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    left: 0px;
    right: 0px;
    margin: 0;
  }

  .formulairecommentaire1 {
    width: 480px;
  }

  .formulairecommentaire2 {
    width: 480px;
  }

  .formulairecommentaire3 {
    width: 480px;
  }

  .label1 {
    display: flex;
    justify-content: start;
    align-items: center;
    left: 20px;
    z-index: 50;
    top: 60px;
    width: 60px;
  }

  .label2 {
    display: flex;
    justify-content: start;
    align-items: center;
    left: 20px;
    z-index: 1;
    top: 45px;
    width: 60px;
  }

  .label3 {
    display: flex;
    justify-content: start;
    align-items: center;
    left: 20px;
    z-index: 50;
    top: 55px;
  }

  .navigation {
    display: flex;
    flex-direction: column;
  }

  .navigationHome {
    display: flex;
    flex-direction: column;
  }

  .nav {
    display: flex;
    flex-direction: column;
  }

  .ulNav {
    display: flex;
    flex-direction: column;
  }

  .ulNav1 {
    display: flex;
    flex-direction: column;
  }
}

@media all and (max-width: 575px) {
  .commentaires {
    right: 190px;
  }

  .bloccommentaire {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .enteteCommentaire {
    display: flex;
    justify-content: start;
  }

  .laissercommentaire {
    left: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-items: start;
    width: 20%;
    margin-right: 40%;
  }

  .boutonComs {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    box-sizing: border-box;
  }

  .boutonCom {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    left: 0px;
    right: 0px;
    margin: 0;
  }

  .formulairecommentaire1 {
    position: relative;
    margin: auto;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 80%;
  }

  .formulairecommentaire2 {
    position: relative;
    margin: auto;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 80%;
  }

  .formulairecommentaire3 {
    position: relative;
    margin: auto;
    left: 0px;
    right: 0px;
    margin: 0;
    width: 80%;
  }

  .label1 {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    top: 39px;
    width: 85px;
  }

  .label2 {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    top: 39px;
  }

  .label3 {
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 50;
    top: 39px;
  }

  .contenu {
    position: relative;
    bottom: 90px;
    font-size: 15px;
    line-height: 32px;
    color: #111111;
    width: 75%;
  }

  .listeCommentaires {
    width: 90%;
  }

  .contenuBillet {
    width: 90%;
  }

  .textGlobal {
    width: 100%;
  }

  .partie1 {
    width: 90%;
  }

  .partie2 {
    width: 90%;
  }

  .fondabout1 {
    width: 90%;
  }

  .titreCourt {
    width: 70%;
    text-align: center;
  }

  .finabout {
    text-align: center;
    width: 90%;
  }

  .symboleNumero {
    right: 2px;
    font-size: 14px;
    top: 62px;
  }

  .encartArticle1 {
    width: 100%;
  }

  .encartArticle2 {
    width: 100%;
  }

  .auteurArticle {
    width: 100%;
    margin-left: 400px;
  }

  .titreArticle {
    position: relative;
    left: 150px;
    padding: 0px;
    margin-left: 50px;

    width: 86%;
  }

  .enteteArticle {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
  }

  .numeroArticle {
    right: 2px;
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: -90px;
  }

  .piedArticle {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .lirePlus {
    font-size: 14px;
    bottom: 27px;
    left: 15px;
    width: 28%;
  }

  .barre {
    left: 0px;
    margin-left: 0px;
    bottom: 25px;
  }

  .extraitArticle {
    font-size: 14px;
    width: 90%;
    color: black;
    left: -3px;
    top: 15px;
    padding: 0px;
    margin-bottom: 65px;
  }

  .extrait p {
    font-size: 14px;
    width: 90%;
    color: black;
    left: -3px;
    top: 15px;
    padding: 0px;
    margin-bottom: 65px;
  }

  .share {
    display: none;
  }

  .imageFondArticle {
    width: 92%;
  }

  .imageblog {
    width: 92%;
  }

  .debutArticle {
    display: flex;
    justify-content: start;
    align-items: center;
    right: 40px;
    width: 90%;
  }

  .titreblog {
    margin-left: 25px;
    left: -5px;
    font-size: 26px;
    width: 80%;
    line-height: 40px;
  }

  .courtdescriptif {
    position: relative;
    justify-content: start;
    margin-left: 25px;
    left: -5px;
    width: 80%;
    right: 0px;
  }

  .fa-bars {
    left: 210px;
    font-size: 26px;
    margin-right: 100px;
  }

  .navavatar {
    margin-left: 50px;

    right: 80px;
  }

  .reseauxsociaux {
    position: relative;
    left: -50px;
    bottom: 12px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 20px;
    width: 60%;
  }

  .articleSuivant {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 20px;
    width: 40%;
  }

  .titre {
    font-size: 32px;
    width: 79%;
  }

  .description {
    font-size: 22px;
    width: 79%;
  }

  .avatar {
    width: 60%;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    bottom: 40px;
    margin-bottom: 40px;
  }

  .icones {
    margin-left: 0px;
    max-width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    top: 25px;
  }



  .fa-search {
    display: none !important;
  }

  .menuResponsive {
    display: flex;
  }
}

@media all and (max-width: 455px) {
  .contenu {
    position: relative;
    bottom: 90px;
    font-size: 15px;
    line-height: 32px;
    color: #111111;
    width: 65%;
  }

  .listeCommentaires {
    width: 90%;
  }

  .titreAdmin {
    font-size: 12px;
    width: 5%;
  }


  .bloccommentaire {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
  }

  .ulNav {
    font-size: 12px;
    width: 80%;
  }

  .ulNav1 {
    font-size: 12px;
    width: 80%;
  }

  .articlesuivant {
    font-size: 20px;
  }
}